<launch>

    <!-- ///////////////// Mission Arguments /////////////////////// -->
    <arg name="mission" value="envisat_mission" />
    <arg name="scenario" />
    <!-- ///////////////// Include Spacecrafts /////////////////////// -->

    <!-- Load Scenario with initial values -->
    <rosparam param="scenario" command="load" file="$(find rospace_simulator)/cfg/Scenarios/$(arg mission)/$(arg scenario).yaml" />

    <!-- Load Simulation World of Mission by Parsing Xacro-File -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find rospace_simulator)/res/worlds/world_$(arg mission).urdf.xacro' scenario:=$(arg scenario)" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- ///////////////// Include Spacecrafts /////////////////////// -->
    <!-- For every spacecraft its corresponding scenario name (not type!) has to be specified. -->
    <include file="$(find rospace_simulator)/launch/Spacecrafts/envisat.launch">
        <arg name="ns_spacecraft" value="envisat" />
    </include>
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

</launch>
