<launch>

    <!-- ///////////////// Mission Arguments /////////////////////// -->
    <arg name="mission" value="test_mission" />
    <arg name="scenario" />
    <!-- ///////////////// Include Spacecrafts /////////////////////// -->

    <!-- Load Scenario with initial values -->
    <rosparam param="scenario" command="load" file="$(find rospace_simulator)/cfg/Scenarios/$(arg mission)/$(arg scenario).yaml" />


    <!-- ///////////////// Include Spacecrafts /////////////////////// -->
    <!-- For every spacecraft its corresponding scenario name has to be specified. -->
    <include file="$(find rospace_simulator)/launch/Spacecrafts/testcraft.launch">
        <arg name="ns_spacecraft" value="testcraft" />
    </include>

    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

</launch>
