<launch>

    <!-- ///////////////// Spacecraft Arguments /////////////////////// -->
    <!-- "ns_spacecraft" needs to be equal to spacecraft name defined in <scenario>.yaml -->
    <arg name="ns_spacecraft" />
    <arg name="spacecraft_type" value="swisscube" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- ///////////////// Build Spacecraft ///////////////// -->
    <group ns="$(arg ns_spacecraft)">

        <!-- Load .yaml Configuration File into Name-space -->
        <rosparam command="load" file="$(find rospace_simulator)/cfg/Spacecrafts/$(arg spacecraft_type).yaml" />
        <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

        <!-- Add Sensors to Spacecraft -->
        <group ns="sensors">
            <!-- Launch IMU -->
            <include file="$(find rospace_imu)/launch/imu.launch">
                <arg name="spacecraft" value="$(arg ns_spacecraft)" />
            </include>
        </group>

        <!-- Add Actuators to Spacecraft -->
        <group ns="actuators">
            <!-- Launch Magnetorquers -->
            <include file="$(find rospace_magnetorquer)/launch/magnetorquer.launch">
                <arg name="spacecraft" value="$(arg ns_spacecraft)" />
            </include>
        </group>

        <!-- Include Flight Software with Controller -->
        <include file="$(find rospace_flightsoftware)/launch/flight_software.launch">
            <arg name="spacecraft" value="$(arg ns_spacecraft)" />
        </include>

        <!-- Launch TF Publisher for Visualizations in Spacecraft Name-space -->
        <include file="$(find rospace_simulator)/launch/tf_publisher.launch">
            <arg name="spacecraft" value="$(arg ns_spacecraft)" />
        </include>

    </group>
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

</launch>
