<launch>

    <!-- ///////////////// Spacecraft Arguments /////////////////////// -->
    <arg name="ns_spacecraft" />
    <arg name="spacecraft_type" value="target" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- ///////////////// Build Spacecraft /////////////////////// -->
    <group ns="$(arg ns_spacecraft)">

        <!-- Load .yaml Configuration File into Name-space -->
        <rosparam command="load" file="$(find rospace_simulator)/cfg/Spacecrafts/$(arg spacecraft_type).yaml" />
        <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

        <!-- Add Sensors to Spacecraft -->
        <group ns="sensors">
            <!-- Launch Sensors ATM -->
        </group>

        <!-- Add Actuators to Spacecraft -->
        <group ns="actuators">
            <!-- No Actuators ATM -->
        </group>

        <!-- Launch TF Publisher for Visualizations -->
        <node pkg="rospace_simulator" name="tf_pub" type="satelite_tf_publisher.py" output="screen">
            <remap from="pose" to="pose" />
            <remap from="~sensors" to="sensors" />
            <remap from="target_oe" to="oe" />
            <remap from="~frames" to="frames" />
            <remap from="relative_parent" to="pose" />
            <param name="body_frame" value="target" />
            <param name="mode" value="absolute" />
        </node>

    </group>
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

</launch>
