<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="swisscube_mission">

    <xacro:arg name="scenario" default="False"/>

    <xacro:include filename="$(find rospace_simulator)/res/urdf/spacecrafts.urdf.xacro" />
    <xacro:include filename="$(find rospace_simulator)/res/urdf/planets.urdf.xacro" />

    <xacro:property name="inertial_frame" value="J2K"/>
    <xacro:property name="config_location" value="$(find rospace_simulator)/cfg/Scenarios/swisscube_mission/$(arg scenario).yaml" />
    <xacro:property name="namespace" value="${load_yaml(config_location)}"/>

    <!-- Load Planets -->

    <xacro:load_planet namespace="Earth" inertial_frame="${inertial_frame}" />

    <!-- Create Visualizations of Spacecrafts -->

    <xacro:load_spacecraft namespace="${namespace['init_coords'].keys()[0]}" joint_parent="${inertial_frame}"/>

</robot>
