<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="a" value ="7083"/>

  <!-- Swiscube TLE:
  1 35932U 09051B   18042.34479260  .00000104  00000-0  34611-4 0  9991
  2 35932  98.5249 190.6204 0006874 230.3619 129.6972 14.56119155445122

  -->
  <arg name="adL"/>
  <arg name="adA"/>
  <arg name="oe" value="{a: 7083, e: 0.0006874, i: 98.5249, O: 190.6204, w: 230.3619, v: 0}" />
  <arg name="oe_rel" value="{ada: $(arg adA), adL: $(arg adL), adEx: 0, adEy: 0, adIx: 0, adIy: 0 }" />

  <arg name="epoch" value="20170915T12:20:00" />

<!-- Launch Epoch Clock without params (=realtime, start from now) -->
    <node pkg="epoch_clock" name="epoch_clock_sim" type="epoch_clock.py" output="screen">
        <param name="realtime_factor" value="300" />
        <param name="frequency" value="30" />
        <param name="init_epoch" value="20170915T12:20:00" />
    </node>


   <!--Launch main propagator-->
    <node pkg="orekit_node" name="orekit_node" type="orekit_node.py" output="screen">
        <remap from="oe" to="/cso/oe" />
        <remap from="pose" to="/cso/pose" />

        <remap from="oe_rel" to="/target/oe" />
        <remap from="pose_rel" to="/target/pose" />

	    <param name="oe_init" type="yaml" value="$(arg oe)" />
	    <param name="oe_init_rel" type="yaml" value="$(arg oe_rel)" />
	    <param name="oe_epoch" value="$(arg epoch)" />
   </node>

    <group ns="ore">
    <node name="abs_I" pkg="abs_node" type="motionmod_node.py" output="screen" >
        <param name="mode" value="ore"></param>
    </node>
    </group>

    <group ns="schaub">
    <node name="abs_II" pkg="abs_node" type="motionmod_node.py" output="screen" >
        <param name="mode" value="schaub"></param>
    </node>
    </group>

    <group ns="null">
    <node name="abs_II" pkg="abs_node" type="motionmod_node.py" output="screen" >
        <param name="mode" value="null"></param>
    </node>
    </group>



    <node pkg="rosbag" type="record" name="rosbag_record_diag"
       args="record -a --duration=6000 -O /home/pantic/cso_ws/eval/motionmod/AL/L$(arg adL)_A$(arg adA).bag" required="true"/>
</launch>
