<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>
    <!-- Check if target coordinates type defined -->
    <!-- mode can be: "absolute" or "relative" -->
    <arg name="record_bag" default="False" />
    <arg name="ns_cubesat" default="swisscube" />
    <rosparam if="$(arg record_bag)" param="start_running">True</rosparam>


    <!-- Load simulation world -->
    <param name="robot_description" textfile="$(find rospace_simulator)/res/models/world_cubesat.urdf" />
    <!-- use simulation time -->
    <!-- has to be set here otherwise library not setting wall time to zero -->
    <param name="/use_sim_time" value="True" />

    <!-- Launch propagator -->

    <node pkg="rospace_propagator" name="propagator_abs" type="PropagationNode.py" output="screen">
        <param name="oe_ta_rel" type="bool" value="False" />
        <param name="oe_ch_init" type="yaml" value="{a: 7000, e: 0.0001, i: 68, O: 60, w: 120, v: 0.001}" />
        <param name="oe_ta_init" type="yaml" value="{a: 7000, e: 0.0001, i: 30, O: 60, w: 120, v: 0.001}" />

        <param name="oe_epoch" value="20141001T12:00:00"/>
        <param name="TIME_SHIFT" type="double" value="0.0" />

        <param name="ns_chaser" value="testcraft" />
        <param name="ns_target" value="$(arg ns_cubesat)" />


        <remap from="oe_target" to="/$(arg ns_cubesat)/oe" />
        <remap from="pose_target" to="/$(arg ns_cubesat)/pose" />
        <remap from="dtorque_target" to="/$(arg ns_cubesat)/dist_torque" />
        <remap from="forcetorque_target" to="/$(arg ns_cubesat)/force_torque" />
        <remap from="B_field_target" to="/$(arg ns_cubesat)/B_field" />

        <remap from="actuator_torque_target" to="/$(arg ns_cubesat)/actuator_torque" />

    </node>

    <!-- ///////////////////////////////////////////////////////////////////////// -->
    <!-- Just for now -->
    <group ns="testcraft">
        <rosparam command="load" file="$(find rospace_simulator)/cfg/testcraft.yaml" />
    </group>
    <!-- ///////////////////////////////////////////////////////////////////////// -->

    <!-- Include configuration -->
    <group ns="$(arg ns_cubesat)">
        <!-- Load Configuration File for sensors etc -->
        <rosparam command="load" file="$(find rospace_simulator)/cfg/$(arg ns_cubesat).yaml" />

        <group ns="sensors">
            <include file="$(find rospace_imu)/launch/imu.launch">
                <arg name="spacecraft" value="$(arg ns_cubesat)" />
            </include>
        </group>

        <group ns="actuators">
            <include file="$(find rospace_magnetorquer)/launch/magnetorquer.launch">
                <arg name="spacecraft" value="$(arg ns_cubesat)" />
            </include>
        </group>

        <include file="$(find rospace_flightsoftware)/launch/flight_software.launch">
            <arg name="spacecraft" value="$(arg ns_cubesat)" />
        </include>

        <!-- Launch TF publisher for visualizations -->
        <node pkg="rospace_simulator" name="tf_pub" type="satelite_tf_publisher.py" output="screen">
            <remap from="pose" to="pose" />
            <remap from="~sensors" to="sensors" />
            <remap from="~frames" to="frames" />
            <param name="body_frame" value="swisscube" />
            <param name="mode" value="absolute" />
        </node>
    </group>

    <!-- start rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rospace_simulator)/res/rviz/swisscube.rviz" required="true" />


    <!-- Launch Visualizer -->
    <!-- <node name="rqt_ekf" pkg="rqt_space_plugins" type="rqt_orbit_ekf" /> -->
    <node name="rqt_sc" pkg="rqt_simtime_plugin" type="rqt_simtime_plugin" />

    <include if="$(arg record_bag)" file="$(find rospace_simulator)/launch/record_bag.launch" />

</launch>
