<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>

    <!-- Simulation Arguments -->
    <arg name="scenario" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Use Own Simulation Time -->
    <param name="/use_sim_time" value="True" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Option To Record ROS-Bag during Simulation. Simulator starts automatically. -->
    <arg name="record_bag" default="False" />
    <rosparam if="$(arg record_bag)" param="start_running"> True </rosparam>
    <include if="$(arg record_bag)" file="$(find rospace_simulator)/launch/record_bag.launch" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Initialize the Specified Scenario -->
    <include file="$(find rospace_simulator)/launch/Scenarios/$(arg scenario).launch" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Start Physics Engine Node -->
    <include file="$(find rospace_propagator)/launch/propagator.launch" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Load Simulation World -->
    <param name="robot_description" textfile="$(find rospace_simulator)/res/models/world.urdf" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Start RVIZ Visualization. -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rospace_simulator)/res/rviz/tf_large.rviz" required="true" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

    <!-- Launch Simulation-Time Plugin -->
    <node name="rqt_sc" pkg="rqt_simtime_plugin" type="rqt_simtime_plugin" />
    <!-- ///////////////////////////////////////////////////////////////////////////////////  -->

</launch>
