<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>

    <arg name="ns_chaser" />
    <arg name="ns_target" />

    <group ns="$(arg ns_chaser)">
        <!-- Launch TF publisher for visualizations -->
        <node pkg="rospace_simulator" name="tf_pub" type="satelite_tf_publisher.py" output="screen">
            <remap from="pose" to="pose" />
            <remap from="~sensors" to="sensors" />
            <remap from="~frames" to="frames" />
            <remap from="~frames" to="thrusters" />
            <param name="body_frame" value="chaser" />
            <param name="mode" value="absolute" />
        </node>
    </group>

  <group ns="$(arg ns_target)">

    <!-- Launch TF publisher for visualizations -->
    <node pkg="rospace_simulator" name="tf_pub_target" type="satelite_tf_publisher.py" output="screen">
        <remap from="pose" to="pose" />
        <remap from="~sensors" to="sensors" />
        <remap from="target_oe" to="oe" />
        <remap from="~frames" to="frames" />
        <remap from="relative_parent" to="pose" />
        <!-- TODO: change to arg target and check if also necessary in world file -->
        <param name="body_frame" value="target" />
        <param name="mode" value="absolute" />
    </node>

    </group>

</launch>
