<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>
    <!-- Check if target coordinates type defined -->
    <!-- mode can be: "absolute" or "relative" -->
    <arg name="prop_launch" default="absolute" />
    <arg name="ns_chaser" default="chaser" />
    <arg name="ns_target" default="target" />

    <arg name="record_bag" default="False" />
    <rosparam if="$(arg record_bag)" param="start_running">True</rosparam>

    <!-- Load simulation world -->
	<param name="robot_description" textfile="$(find cso_gnc_sim)/res/models/world.urdf" />
    <!-- use simulation time -->
    <!-- has to be set here otherwise library not setting wall time to zero -->
    <param name="/use_sim_time" value="True" />

    <!-- Launch CSO & target propagator -->
    <include file="$(find propagator_node)/launch/$(arg prop_launch)_orbit.launch">
        <arg name="ns_chaser" default="$(arg ns_chaser)" />
        <arg name="ns_target" default="$(arg ns_target)" />
    </include>

    <!-- Include CSO base definition -->
    <include file="$(find cso_gnc_sim)/launch/cso_base.launch">
        <arg name="ns_chaser" value="$(arg ns_chaser)" />
        <arg name="ns_target" value="$(arg ns_target)" />
    </include>

    <!-- Include TF publishers -->
    <include file="$(find cso_gnc_sim)/launch/tf_publisher_absolute.launch">
        <arg name="ns_chaser" value="$(arg ns_chaser)" />
        <arg name="ns_target" value="$(arg ns_target)" />
    </include>

    <!-- Include Orbit visualization of chaser and target -->
    <node name="rviz_orbit_chaser" pkg="rviz_orbit_node" type="rviz_orbit_node.py" >
        <remap from="oe" to="/chaser/oe" />
        <param name="scale" value="1000" />
        <param name="samples" value="350" />
        <param name="pub_subsampling" value="1000" />
        <param name="color" value="0.5 0.5 0 1" />
    </node>

    <!-- Include Orbit visualization of chaser and target -->
    <node name="rviz_orbit_target" pkg="rviz_orbit_node" type="rviz_orbit_node.py" >
        <remap from="oe" to="/target/oe" />
        <param name="scale" value="1000" />
        <param name="samples" value="350" />
        <param name="pub_subsampling" value="1000" />
        <param name="color" value="0 0.5 0.5 1" />
    </node>

    <!-- start rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cso_gnc_sim)/res/rviz/tf_large.rviz" required="true" />


     <!-- Launch Visualizer -->
    <!--node name="rqt_ekf" pkg="rqt_space_plugins" type="rqt_orbit_ekf" /-->
    <node name="rqt_sc" pkg="rqt_simtime_plugin" type="rqt_simtime_plugin" />

    <include if="$(arg record_bag)" file="$(find cso_gnc_sim)/launch/record_bag.launch" />

</launch>
