<launch>

	<node pkg="cso_sim_vision" name="cso_vision1" type="cso_sim_vision.py" output="screen">
		<param name="sensor_pose" value="-5 5 5 0 0 0 1" />
		<param name="sensor_config" value="cam_xy_config.yaml" />
	</node>

	<node pkg="cso_sim_vision" name="cso_vision2" type="cso_sim_vision.py" output="screen">
		<param name="sensor_pose" value="-10 5 5 0 0 0 1" />
		<param name="sensor_config" value="cam_xy_config.yaml" />
	</node>

	<node pkg="cso_sim_radar" name="cso_radar" type="cso_sim_radar.py" output="screen">
		<param name="sensor_pose" value="-5 5 5 0 0 0 1" />
		<param name="sensor_config" value="radar_config.yaml" />
	</node>

	<node pkg="cso_sim_lidar" name="cso_lidar" type="cso_sim_lidar.py" output="screen">
		<param name="sensor_pose" value="-15 5 5 0 0 0 1" />
		<param name="sensor_config" value="lidar_config.yaml" />
	</node>
</launch>