<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<launch>

	<arg name="full_directory" value="/home/christian/Documents/ETH/MasterThesis/Validation/Orbit/EnviSat/GTOD_Body_Frame/201101_0.001pT_allF_Celestrak" />
	<arg name="bag_name" value="run_celestrack" />
	<arg name="end_time" value="96000" /> 

	<node pkg="rosbag" type="record" name="$(arg bag_name)" output="screen" args="-O $(arg full_directory)/$(arg bag_name) --duration=$(arg end_time) -a" required="True"/>

</launch>