<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="a" value ="7083"/>

  <!-- Swiscube TLE:
  1 35932U 09051B   18042.34479260  .00000104  00000-0  34611-4 0  9991
  2 35932  98.5249 190.6204 0006874 230.3619 129.6972 14.56119155445122
<arg name="oe_rel" value="{ada: 0.000565187242894, adL: 0.00141297622824, adEx: 0, adEy: 0, adIx: 0, adIy: 0 }" />
  -->
  <arg name="adL"/>
  <arg name="oe" value="{a: 7077.30057656, e: 0.000491903791648, i: 1.71960189349, O:  3.32685661678, w: 5.02435346069, v: 0.565695030687}" />
  <arg name="oe_rel" value="{ada: 0.000265187242894, adL: 0.00141297622824, adEx: 0, adEy: 0, adIx: 0, adIy: 0 }" />

  <arg name="epoch" value="20170915T12:20:00" />

<!-- Launch Epoch Clock without params (=realtime, start from now) -->
    <node pkg="epoch_clock" name="epoch_clock_sim" type="epoch_clock.py" output="screen">
        <param name="realtime_factor" value="60" />
        <param name="frequency" value="20" />
        <param name="init_epoch" value="20170915T12:20:00" />
    </node>

   <!--Launch main propagator-->
    <node pkg="orekit_node" name="orekit_node" type="orekit_node.py" output="screen">
        <remap from="oe" to="/cso/oe" />
        <remap from="pose" to="/cso/pose" />

        <remap from="oe_rel" to="/target/oe" />
        <remap from="pose_rel" to="/target/pose" />

	    <param name="oe_init" type="yaml" value="$(arg oe)" />
	    <param name="oe_init_rel" type="yaml" value="$(arg oe_rel)" />
	    <param name="oe_epoch" value="$(arg epoch)" />
   </node>

     <group ns="cso">
        <!-- Load Configuration File for sensors etc -->
        <rosparam command="load" file="$(find cso_gnc_sim)/cfg/cso.yaml" />


         <!-- Launch AON Sensor -->
        <node pkg="space_sim_aon" name="node_aon" type="sim_aon_node.py" output="screen">
            <param name="publish_rate" value="0.0083" />
            <remap from="~sensor" to="/cso/sensors/AON" />
            <remap from="chaser_oe" to="oe" />
            <remap from="target_oe" to="/target/oe" />
        </node>

          <!-- Launch Filter -->
        <node pkg="cso_gnc_target_estimator" name="target_estimator" type="cso_gnc_target_estimator_node.py" output="screen">
            <remap from="chaser_oe" to="oe" />
            <remap from="target_oe" to="/target/oe" />
        </node>
    </group>

  <group ns="target">

    <!-- Launch LVLH node -->
    <node name="lvlh_pub" pkg="lvlh_node" type="lvlh_node.py" output="screen" >
        <remap from="target_oe" to="/target/oe" />
        <remap from="chaser_oe" to="/cso/oe" />
    </node>

    <!-- Launch REL node -->
    <node name="rel_pub" pkg="rel_node" type="rel_node.py" output="screen" >
        <remap from="target_oe" to="/target/oe" />
        <remap from="chaser_oe" to="/cso/oe" />
    </node>

    </group>

</launch>
