<launch>

    <!-- Load simulation world -->
	<param name="robot_description" textfile="$(find cso_gnc_sim)/res/models/world.urdf" />

    <!-- Include CSO base definition -->
    <include file="$(find cso_gnc_sim)/launch/cso_base_ore.launch" />

    <!-- Include TF publishers -->
    <include file="$(find cso_gnc_sim)/launch/tf_publisher_absolute.launch" />

    <!-- start rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cso_gnc_sim)/res/rviz/tf_large.rviz" required="true" />


     <!-- Launch Visualizer -->
    <node name="rqt_ekf" pkg="rqt_space_plugins" type="rqt_orbit_ekf" />

</launch>
