<?xml version="1.0"?>
<robot name="cso_visualization">

    <link name="J2K">
        <visual>
          <geometry>
           <mesh filename="package://rospace_simulator/res/meshes/earth-mesh.stl" scale="1 1 1">
            </mesh>
          </geometry>
          <material name="texture">
		<texture filename="package://rospace_simulator/res/meshes/1_earth_8k.jpg"/>
	  </material>
        </visual>
    </link>

    <link name="chaser">
        <visual>
          <geometry>
            <mesh filename="package://rospace_simulator/res/meshes/cso-mesh.stl" scale="1 1 1">
            </mesh>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="target">
        <visual>
            <geometry>
                <box size="1 1 1"/>
            </geometry>
            <!-- material name="blue" / -->
            <origin rpy="0 1.57075 0" xyz="0 0 0"/>
        </visual>
    </link>

    <joint name="target2J2K" type="fixed">
        <parent link="J2K"/>
        <child link="target"/>
        <origin xyz="7000000 0 0 "/>
    </joint>

    <joint name="chaser2J2K" type="fixed">
        <parent link="J2K"/>
        <child link="chaser"/>
        <origin xyz="0 0 0 "/>
    </joint>
 </robot>

