<?xml version="1.0"?>
<robot name="cso_visualization">

    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>

    <link name="J2K">
        <visual>
          <geometry>
           <mesh filename="package://rospace_simulator/res/meshes/earth.DAE" scale="637100 637100 637100">
            </mesh>
          </geometry>
        </visual>
    </link>

    <link name="chaser">
        <visual>
          <geometry>
            <mesh filename="package://rospace_simulator/res/meshes/cso-mesh.stl" scale="1 1 1">
            </mesh>
          </geometry>
          <origin rpy="0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="target">
        <visual>
            <geometry>
                <box size="100 100 100"/>
            </geometry>
            <material name="blue" />
            <origin rpy="0 1.57075 0" xyz="0 0 0"/>
        </visual>
    </link>

    <joint name="target2J2K" type="fixed">
        <parent link="J2K"/>
        <child link="target"/>
        <origin xyz="7000000 0 0 "/>
    </joint>

    <joint name="chaser2J2K" type="fixed">
        <parent link="J2K"/>
        <child link="chaser"/>
        <origin xyz="0 0 0 "/>
    </joint>
 </robot>

