<launch>
    <arg name="spacecraft" />
    <node pkg="rospace_flightsoftware" name="rospace_flightsoftware" type="FlightSoftwareNode.py" output="screen">
        <remap from="imu" to="/$(arg spacecraft)/imu" />
        <remap from="B_field" to="/$(arg spacecraft)/B_field" />
        <remap from="torque_current" to="/$(arg spacecraft)/I_magneto" />
    </node>
</launch>
