<launch>
    <arg name="ns_chaser" />
    <arg name="ns_target" />

	<node pkg="rospace_propagator" name="propagator_abs" type="propagation_node.py" output="screen" launch-prefix="yappi -b -f callgrind -o /home/christian/Documents/ETH/MasterThesis/Profiling/Vectorization/yappi.out">
		<param name="oe_ta_rel" type="bool" value="False" />
		<param name="oe_ch_init" type="yaml" value="{a: 7000, e: 0.0001, i: 30, O: 60, w: 120, v: 0.001}" />
		<param name="oe_ta_init" type="yaml" value="{a: 7000, e: 0.0001, i: 30, O: 60, w: 120, v: 0.001}" />
	
		<param name="oe_epoch" value="20141001T12:00:00"/>
		<param name="TIME_SHIFT" type="double" value="0.0" />

		<param name="ns_chaser" value="$(arg ns_chaser)" />
		<param name="ns_target" value="$(arg ns_target)" />

		<remap from="oe_chaser" to="/$(arg ns_chaser)/oe" />
		<remap from="oe_target" to="/$(arg ns_target)/oe" />
		<remap from="pose_chaser" to="/$(arg ns_chaser)/pose" />
		<remap from="pose_target" to="/$(arg ns_target)/pose" />
		<remap from="dtorque_chaser" to="/$(arg ns_chaser)/dist_torque" />
		<remap from="dtorque_target" to="/$(arg ns_target)/dist_torque" />
		<remap from="forcetorque_chaser" to="/$(arg ns_chaser)/force_torque" />
		<remap from="forcetorque_target" to="/$(arg ns_target)/force_torque" />
		<remap from="B_field_chaser" to="/$(arg ns_chaser)/B_field" />
		<remap from="B_field_target" to="/$(arg ns_target)/B_field" />
		<remap from="force" to="/$(arg ns_chaser)/force" />
		<remap from="IspMean" to="/$(arg ns_chaser)/IspMean" />
	</node>
</launch>
